body{
    background-color: #111111;
    overflow-x:hidden;
}

.banner-image img{
    position: relative;
    z-index: 9;
    width: 100%;
}
canvas {
    position: absolute;
    top: 0;
    right: 0;
    /*width: 100%;*/
}
